.select-mask {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  .goods-list {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    background-color: #fff;
    overflow: auto;
    &-item {
      position: relative;
      padding: 0 10px 0 30px;
      line-height: 45px;
      border-bottom: 1px solid #ddd;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.active {
        color: #EF8642;
        img {
          display: block;
        }
      }
      img {
        position: absolute;
        width: 20px;
        left: 5px;
        top: 12px;
        display: none;
      }
    }
  }
}