@import 'base/reset.scss';
//@import 'base/px2rem.scss';

.container {
  padding: 65px 30px 15px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../img/bg.png") no-repeat;
  background-size: cover;
  overflow: auto;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.text-center {
  text-align: center;
}
.label {
  color: #333;
  font-size: 18px;
}
.input-item {
  width: 100%;
  height: 45px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  padding-left: 5px;
  outline: none;
}
.area-wrapper {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.area-item {
  width: calc(50% - 10px);
}
.flex-item {
  margin-bottom: 15px;
  position: relative;
  padding-left: 80px;
  letter-spacing: 20px;
  .label {
    position: absolute;
    left: 0;
    top: 14px;
  }
}
.good-content {
  margin: 10px 0;
  padding-top: 5px;
  position: relative;
  padding-right: 140px;
  height: 130px;
  overflow: hidden;
  .goods-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .goods-name {
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    padding-right: 25px;
    background: url('../img/arrow.png') no-repeat bottom right / 24px 25px #fff;
  }
  .time-tip {
    margin-bottom: 5px;
    color: red;
    font-size: 14px;
  }
}
.count-number-wrapper {
  margin-bottom: 20px;
  position: relative;
  padding: 0 45px;
  .number-handle {
    position: absolute;
    top: 5px;
    width: 30px;
    height: 30px;
  }
  .input-item {
    text-align: center;
  }
  .del-btn {
    left: 0;
  }
  .add-btn {
    right: 0;
  }
}
.confirm-btn {
  width: 100%;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background-color: #EF8642;
  border-radius: 10px;
  letter-spacing: 5px;
  font-size: 16px;
  border: none;
  outline: none;
}
.flex-center {
  width: 100%;
  justify-content: center;
}
.time-wrapper {
  font-size: 14px;
  color: #333;
  display: inline-flex;
  align-items: flex-end;
  .time-number {
    margin: 0 1px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background-color: red;
  }
  &.small {
    font-size: 12px;
    .time-number {
      margin: 0 1px 0 0;
      font-size: 14px;
      width: 20px;
      line-height: 20px;
    }
  }
}
.other-info {
  width: 100%;
  line-height: 55px;
  text-align: center;
  overflow: hidden;
  background-color: #ef5017;
  color: #fff;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
}