<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>征订订单管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/desk.css">
</head>
<body>
<div id="app">
    <div class="gift-list-wrapper">
        <p v-if="orderList.length === 0" style="text-align: center;line-height: 50px">没有相关数据</p>
        <div class="wrapper">
            <!--<ul class="gift-list">-->
                <!--<li class="list-item" @click="itemHandles(index)">-->
                    <!--<div class="gift-title">-->
                        <!--<span>邀请码：123123</span>-->
                        <!--<span style="float: right;color: #ec9934">进行中</span>-->
                    <!--</div>-->
                    <!--<p style="margin-bottom: 10px;">阿发拿到手法第三方</p>-->
                    <!--<p class="gift-on">-->
                        <!--<span style="display: inline-block;width: 110px">数<span style="display: inline-block;width: 20px"></span>量：648</span>-->
                        <!--<span>2018-33-33 22:22:22</span>-->
                        <!--<span style="float: right;margin-top:-6px;padding: 5px 12px;border: 1px solid #44b549;color:#44b549;border-radius: 2px;vertical-align: 3px">查看及修改</span>-->
                    <!--</p>-->
                <!--</li>-->
            <!--</ul>-->
            <ul class="gift-list">
                <li>
                    <div class="list-item">
                        <p class="item-date">创建日期：1029299</p>
                        <p class="item-status">订单进行中</p>
                    </div>
                    <div class="item-content">
                        <div class="img-wrapper">
                            <img src="" alt="">
                        </div>
                        <p class="order-name">太平沉香</p>
                        <p class="order-number">数量：22盒</p>
                        <div>
                            <p class="tip">征订结束时间：</p>
                            <div class="item-btn">修改订单</div>
                        </div>
                        <div>
                            <p class="tip">征订已结束</p>
                            <p class="tip">如需帮助，请咨询内勤</p>
                        </div>
                    </div>
                </li>
                <!--<li v-for="(item, index) in orderList" class="list-item" @click="itemHandles(index)">
                    <div class="gift-title">
                        <span>邀请码：{{item.inviteCode}}</span>
                        <span v-if="item.orderState === 1 && item.solicitState === 2" style="float: right;color: #ec9934">进行中</span>
                        <span v-if="item.orderState === 1 && item.solicitState === 3" style="float: right;color: #44b549">已完成</span>
                        <span v-if="item.orderState === 9" style="float: right;color: #FD482C">已取消</span>
                    </div>
                    <p style="margin-bottom: 10px;">{{item.goodsName}}</p>
                    <p class="gift-on">
                        <span style="display: inline-block;width: 100px">数<span style="display: inline-block;width: 13px"></span>量：{{item.goodsCount}}</span>
                        <span>{{item.createTimeStr}}</span>
                        <span v-if="item.orderState === 1 && item.solicitState === 2" style="float: right;margin-top:-6px;padding: 5px 12px;border: 1px solid #44b549;color:#44b549;border-radius: 2px;vertical-align: 3px">查看及修改</span>
                        <span v-else style="float: right;margin-top:-6px;padding: 5px 12px;border: 1px solid #44b549;color:#44b549;border-radius: 2px;vertical-align: 3px">查看</span>
                    </p>
                    &lt;!&ndash;<p class="gift-number">{{item.addressDetail}}</p>&ndash;&gt;
                </li>-->
                <div class="footer-text" v-if="isLoading">正在加载...</div>
                <div class="footer-text" v-if="noMore">无更多订单</div>
            </ul>
        </div>
        <div v-if="isWrite" class="container" style="z-index: 9999">
            <input v-model="currentDetail.inviteCode" class="input-item" type="text" disabled placeholder="请输入邀请码">
            <input v-model="currentDetail.goodsName" class="input-item" type="text" disabled placeholder="请输入产品名称">
            <input v-model="currentDetail.name" class="input-item" type="text" placeholder="请输入姓名">
            <input v-model="currentDetail.mobile" class="input-item" type="number" placeholder="请输入电话">
            <input v-model="currentDetail.goodsCount" class="input-item" type="number" placeholder="请输入产品数量">
            <input v-model="currentDetail.addressDetail" class="input-item" type="text" placeholder="请输入所属区部">
            <div class="btn-wrapper">
                <button v-if="currentDetail.orderState === 1 && currentDetail.solicitState === 2" class="login-btn" @click="updateConfirm">确认修改</button>
                <button v-if="currentDetail.orderState === 1 && currentDetail.solicitState === 2" class="login-btn" @click="cancel">取消征订</button>
                <button class="login-btn" @click="pageBack">返回</button>
            </div>
        </div>
    </div>
</div>
<script src="./assets/jquery-3.3.1.min.js"></script>
<script src="./assets/vue.js"></script>
<script src="./assets/layer.js"></script>
<script src="./assets/better-scroll.js"></script>
<script src="js/desk.js"></script>
</body>
</html>
