<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>征订订单管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/desk.css">
    <link rel="stylesheet" href="css/edit.css">
    <link rel="stylesheet" href="css/message.css">
    <style>
        .confirm-btn {
            width: 100px;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="gift-list-wrapper">
        <div class="wrapper">
            <ul class="gift-list">
                <li v-for="item in orderList" class="list-item">
                    <div v-if="item.solicitState === 3" class="item-mask"></div>
                    <div class="list-title">
                        <p class="item-date">创建日期：{{item.createTime}}</p>
                        <p v-if="item.orderState === 1 && item.solicitState === 2" class="item-status1">订单进行中</p>
                        <p v-if="item.orderState === 1 && item.solicitState === 3" class="item-status2">订单已完成</p>
                    </div>
                    <div class="item-content">
                        <div class="img-wrapper">
                            <img :src="item.goodsImage ">
                        </div>
                        <p class="order-name">{{item.goodsName}}</p>
                        <p class="order-number">数量：{{item.goodsCount}}{{item.standard}}</p>
                        <div v-if="item.solicitState !== 3">
                            <p class="tip">征订结束时间：{{item.endTime}}</p>
                            <div class="item-btn" @click="changeOrder(index)">修改订单</div>
                        </div>
                        <div>
                            <p class="tip">征订已结束</p>
                            <p class="tip">如需帮助，请咨询内勤</p>
                        </div>
                    </div>
                </li>
                <!--<li class="list-item">
                    <div class="item-mask"></div>
                    <div class="list-title">
                        <p class="item-date">创建日期：1029299</p>
                        <p class="item-status1">订单进行中</p>
                    </div>
                    <div class="item-content">
                        <div class="img-wrapper">
                            <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=84519059,749560299&fm=173&app=25&f=JPEG?w=218&h=146&s=E7409B0D7E2306900780509703001082" alt="">
                        </div>
                        <p class="order-name">太平沉香</p>
                        <p class="order-number">数量：22盒</p>
                        <div>
                            <p class="tip">征订结束时间：</p>
                            <div class="item-btn">修改订单</div>
                        </div>
                        &lt;!&ndash;<div>&ndash;&gt;
                        &lt;!&ndash;<p class="tip">征订已结束</p>&ndash;&gt;
                        &lt;!&ndash;<p class="tip">如需帮助，请咨询内勤</p>&ndash;&gt;
                        &lt;!&ndash;</div>&ndash;&gt;
                    </div>
                </li>-->
                <div class="footer-text" v-if="isLoading">正在加载...</div>
                <div class="footer-text" v-if="noMore">无更多订单</div>
            </ul>
        </div>
    </div>
    <div v-if="editMessage" class="message-mask">
        <div class="message-wrapper">
            <div class="message-header">
                <img src="./img/logo.png" alt="">
            </div>
            <div class="message-content">
                <img src="./img/confirm.png" alt="">
                提交成功
            </div>
            <p class="message-tip">
                可在<span style="color: #44b549">我的订单</span>中查看/修改
            </p>
            <p class="message-tip">如有疑问请咨询内勤</p>
        </div>
    </div>
    <div v-if="cancelMessage" class="message-mask">
        <div class="message-wrapper">
            <div class="message-header">
                <img src="./img/logo.png" alt="">
            </div>
            <div class="message-content">
                <img src="./img/confirm.png" alt="">
                取消成功
            </div>
            <p class="message-tip">
                如需再次下单
            </p>
            <p class="message-tip">请点击首页<span style="color: #44b549">我要征订</span></p>
        </div>
    </div>
    <div v-if="isWrite" class="container">
        <p class="label mb5">邀请码</p>
        <input v-model="questData.inviteCode" class="input-item mb10" type="text">
        <div class="area-wrapper">
            <div class="area-item">
                <p class="label mb5">营业区</p>
                <input v-model="questData.saleDistrict" class="input-item" type="text">
            </div>
            <div class="area-item">
                <p class="label mb5">部门</p>
                <input v-model="questData.department" class="input-item" type="text">
            </div>
        </div>
        <div class="flex-item">
            <p class="label">姓名</p>
            <input v-model="questData.name" class="input-item" type="text">
        </div>
        <div class="flex-item">
            <p class="label">电话</p>
            <input v-model="questData.mobile" class="input-item" type="text">
        </div>
        <div v-if="currentGoods" class="good-content">
            <p class="label text-center mb10">征订行辅</p>
            <div class="goods-name" @click="openSelect">{{currentGoods.goodsName}}</div>
            <p class="time-tip text-center">征订结束时间</p>
            <p class="time text-center">{{currentGoods.endTime}}</p>
            <div class="goods-img">
                <img :src="currentGoods.goodsImage">
            </div>
        </div>
        <p class="label mb5 text-center">征订数量</p>
        <div class="count-number-wrapper">
            <img @click="delCount" class="number-handle del-btn" src="./img/del.png">
            <input  v-model="questData.goodsCount" class="input-item" type="text">
            <img @click="addCount" class="number-handle add-btn" src="./img/add.png" alt="">
        </div>
        <button class="confirm-btn" @click="addOrder">提交订单</button>
        <button class="confirm-btn" style="background-color: #636363" @click="cancelOrder">一键取消</button>
        <button class="confirm-btn" @click="closeEdit">返回</button>
        <div v-if="showSelect" class="select-mask" @click="closeSelect">
            <div class="goods-list">
                <div v-for="item in selectList" class="goods-list-item" :class="{active: item.solicitGoodsId === currentGoods.solicitGoodsId}" @click="chooseGoods(item)">
                    <img src="./img/confirm.png">
                    <p>{{item.goodsName}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./assets/jquery-3.3.1.min.js"></script>
<script src="./assets/vue.js"></script>
<script src="./assets/layer.js"></script>
<script src="./assets/better-scroll.js"></script>
<script src="js/desk.js"></script>
</body>
</html>
