<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我要征订</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/edit.css">
    <link rel="stylesheet" href="css/message.css">
</head>
<body>
<div id="app">
    <div class="container">
        <p class="label mb5">邀请码</p>
        <input v-model="questData.inviteCode" class="input-item mb10" type="text" placeholder="例：TPSCGH（太平四川高新）">
        <div class="area-wrapper">
            <div class="area-item">
                <p class="label mb5">营业区</p>
                <input v-model="questData.saleDistrict" class="input-item" type="text" placeholder="例：五区">
            </div>
            <div class="area-item">
                <p class="label mb5">部门</p>
                <input v-model="questData.department" class="input-item" type="text" placeholder="例：阳光部">
            </div>
        </div>
        <div class="flex-item">
            <p class="label">姓名</p>
            <input v-model="questData.name" class="input-item" type="text">
        </div>
        <div class="flex-item">
            <p class="label">电话</p>
            <input v-model="questData.mobile" class="input-item" type="text">
        </div>
        <div v-if="currentGoods" class="good-content">
            <p class="label text-center mb10">征订行辅</p>
            <div class="goods-name" @click="openSelect">{{currentGoods.goodsName}}</div>
            <p class="time-tip text-center">征订结束时间</p>
            <p class="time text-center">{{currentGoods.endTime}}</p>
            <div class="goods-img">
                <img :src="currentGoods.goodsImage">
            </div>
        </div>
        <p class="label mb5 text-center">征订数量</p>
        <div class="count-number-wrapper">
            <img @click="delCount" class="number-handle del-btn" src="./img/del.png">
            <input  v-model="questData.goodsCount" class="input-item" type="text">
            <img @click="addCount" class="number-handle add-btn" src="./img/add.png" alt="">
        </div>
        <button class="confirm-btn" @click="addOrder">提交订单</button>
        <div v-if="showSelect" class="select-mask" @click="closeSelect">
            <div class="goods-list">
                <div v-if="item.solicitState === 2" v-for="item in selectList" class="goods-list-item" :class="{active: item.solicitGoodsId === currentGoods.solicitGoodsId}" @click="chooseGoods(item)">
                    <img src="./img/confirm.png">
                    <p>{{item.goodsName}}</p>
                </div>
            </div>
        </div>
        <div v-cloak v-if="showMessage" class="message-mask">
            <div class="message-wrapper">
                <div class="message-header">
                    <img src="./img/logo.png" alt="">
                </div>
                <div class="message-content">
                    <img src="./img/confirm.png" alt="">
                    提交成功
                </div>
                <p class="message-tip">
                    可在<span style="color: #44b549">我的订单</span>中查看/修改
                </p>
                <p class="message-tip">如有疑问请咨询内勤</p>
            </div>
        </div>
    </div>
</div>
    <script src="assets/jquery-3.3.1.min.js"></script>
    <script src="assets/vue.js"></script>
    <script src="js/index.js"></script>
</body>
</html>